
Magic Villa API/Magic Villa .NET 7 API.pptx
Magic Villa API/Resources/images/home/confirmation.jpg
Magic Villa API/Resources/images/home/slide1.jpg
Magic Villa API/Resources/images/home/slide2.jpg
Magic Villa API/Resources/images/villa/villa1.jpg
*.jpg
*.txt
